[user]
	email = hncooper96@gmail.com
	name = Hudson Cooper
[init]
	defaultBranch = master
[core]
	editor = vim
[pull]
	rebase = true
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
